<meta name="viewport" content="width=device-width, initial-scale=1.0">

<%- include('başlık.ejs', {bot, user, path}) %>
<div class="container">

	<div class="row justify-content-md-center">
		<div align="center"><h2 style="color: #fff;"><i class="fa fa-wrench fa-fw" aria-hidden="true"></i> Kayıt Sistemi</h2></div>
  </div>
	
  <!--<center><h7 style="color:red">Bakımda...</h7></center>-->
  
	<div class="row">
    
<div class="col">
    <div class="container">
      <form method="post">
        <ul class="list-group list-group-flush">
          			     <div class="row">
      <div class="col-25">
          <label for="kasistem">Kayıt Sistemi</label>
      </div>
      <div class="col-75">
        <% if (bot.ayar.has(`kayıtsis_${guild.id}`) === false) { %>
        <label style="margin-right:80%;" class="switch">
         <input type="checkbox" id="kasistem" name="kasistem" value="acik">
         <span class="slider round"></span>
        </label>
          <% } %>
					<% if(bot.ayar.has(`kayıtsis_${guild.id}`) === true) { %>
        <label style="margin-right:80%;" class="switch">
         <input type="checkbox" id="kasistem" name="kasistem" value="Kapalı" checked>
         <span class="slider round"></span>
        </label>
          <% } %>
      </div>
    </div>	
              <div class="row">
        <div class="col-25">
          <label for="arol">Al Rol</label>
        </div>
        <div class="col-75">
          <% if (bot.ayar.has(`aRole_${guild.id}`) === false) { %>
          <select style="text-align: left; width:87%;" name="arol" id="arol">
            <option disabled selected>Lütfen bir rol seçiniz.</option>
            <% guild.roles.filter(r => r.name !== "@everyone").forEach(r => { %>
            <option value="<%=r.id%>" style="color:<%=r.hexColor%>"><%=r.name%></option>
            <% }); %>
          </select>
          <a href="/panel/<%=guild.id%>/arol/sifirla" class="reset-btn" role="button">Sıfırla</a>
          <% } %>
					<% if(bot.ayar.has(`aRole_${guild.id}`) === true) { %>
          <select style="color:<%=guild.roles.get(bot.ayar.fetch(`aRole_${guild.id}`)).hexColor%>; text-align: left; width:87%;" name="arol" id="arol">
             <option disabled selected>Lütfen bir rol seçiniz.</option>
            <option value="<%=bot.ayar.fetch(`aRole_${guild.id}`)%>" style="color:<%=guild.roles.get(bot.ayar.fetch(`aRole_${guild.id}`)).hexColor%>" selected><%=guild.roles.get(bot.ayar.fetch(`aRole_${guild.id}`)).name%></option>
					 <% guild.roles.filter(r => r.name !== "@everyone").filter(r => r.id !== bot.ayar.fetch(`aRole_${guild.id}`)).forEach(r => { %>
            <option value="<%=r.id%>" style="color:<%=r.hexColor%>"><%=r.name%></option>
          <% }); %>
          </select>
          <a href="/panel/<%=guild.id%>/arol/sifirla" class="reset-btn" role="button">Sıfırla</a>
          <% } %>
        </div>
      </div>
    <div class="row">
        <div class="col-25">
          <label for="vrol">Ver Rol</label>
        </div>
        <div class="col-75">
          <% if (bot.ayar.has(`verRol_${guild.id}`) === false) { %>
          <select style="text-align: left; width:87%;" name="vrol" id="vrol">
            <option disabled selected>Lütfen bir rol seçiniz.</option>
            <% guild.roles.filter(r => r.name !== "@everyone").forEach(r => { %>
            <option value="<%=r.id%>" style="color:<%=r.hexColor%>"><%=r.name%></option>
            <% }); %>
          </select>
          <a href="/panel/<%=guild.id%>/vrol/sifirla" class="reset-btn" role="button">Sıfırla</a>
          <% } %>
					<% if(bot.ayar.has(`verRol_${guild.id}`) === true) { %>
          <select style="color:<%=guild.roles.get(bot.ayar.fetch(`verRol_${guild.id}`)).hexColor%>; text-align: left; width:87%;" name="vrol" id="vrol">
             <option disabled selected>Lütfen bir rol seçiniz.</option>
            <option value="<%=bot.ayar.fetch(`verRol_${guild.id}`)%>" style="color:<%=guild.roles.get(bot.ayar.fetch(`verRol_${guild.id}`)).hexColor%>" selected><%=guild.roles.get(bot.ayar.fetch(`verRol_${guild.id}`)).name%></option>
					 <% guild.roles.filter(r => r.name !== "@everyone").filter(r => r.id !== bot.ayar.fetch(`verRol_${guild.id}`)).forEach(r => { %>
            <option value="<%=r.id%>" style="color:<%=r.hexColor%>"><%=r.name%></option>
          <% }); %>
          </select>
          <a href="/panel/<%=guild.id%>/vrol/sifirla" class="reset-btn" role="button">Sıfırla</a>
          <% } %>
        </div>
      </div>
                    <div class="row">
        <div class="col-25">
          <label for="kayitk">Kayıt Kanalı</label>
        </div>
        <div class="col-75">
          <% if (bot.ayar.has(`kayitk_${guild.id}`) === false) { %>
          <select style="text-align: left; width:87%;" name="kayitk" id="kayitk">
            <option disabled selected>Lütfen bir kanal seçiniz.</option>
            <% guild.channels.filter(c => c.type === "text").forEach(c => { %>
            <option value="<%=c.id%>">#<%=c.name%></option>
            <% }); %>
          </select>
          <a href="/panel/<%=guild.id%>/kayitk/sifirla" class="reset-btn" role="button">Sıfırla</a>
          <% } %>
					<% if(bot.ayar.has(`kayitk_${guild.id}`) === true) { %>
          <select style="text-align: left; width:87%;" name="kayitk" id="kayitk">
            <option value="<%=bot.ayar.fetch(`kayitk_${guild.id}`)%>"><%=guild.channels.get(bot.ayar.fetch(`kayitk_${guild.id}`)).name%></option>
					 <% guild.channels.filter(c => c.type === "text").filter(c => c.id !== bot.ayar.fetch(`kayitk_${guild.id}`)).forEach(c => { %>
            <option value="<%=c.id%>">#<%=c.name%></option>
          <% }); %>
          </select>
          <a href="/panel/<%=guild.id%>/kayitk/sifirla" class="reset-btn" role="button">Sıfırla</a>
          <% } %>
        </div>
      </div>

       
          
          </ul>
          <div style="width: 100%; text-align: right; margin-top: 15px;">
    <button style="background-color:blue; color:#fff" type="sumbit" id="formbtn" class="btn btn-default"><i class="fa fa-fw fa-save" aria-hidden="true"></i> Kaydet</button>
           <a href="yonet" button style="background-color:orange; color:#fff" type="sumbit" id="formbtn" class="btn btn-default"><i class="fa fa-mail-reply" aria-hidden="true"></i> Geri Dön</button> </a>    </div>

      </div>
      </form>
    </div>
  </div>
    
</div>


<script>
	var ts = parseInt($('#guildCreate').text());
	$('#guildCreate').html(`<strong>Created:</strong>: ${moment(ts).format('MMMM Do YYYY (h:mm a)')}`);  
</script>
<%- include('footer.ejs', {bot, user, path}) %>